sesameSetup/applications/apache-tomcat/wtpwebapps/WebServiceProject/wsdl/ClientApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Lucene.COFORM" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Lucene.COFORM" xmlns:intf="http://Lucene.COFORM" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Lucene.COFORM" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="equals">
    <complexType>
     <sequence>
      <element name="a" type="xsd:string"/>
      <element name="b" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="equalsResponse">
    <complexType>
     <sequence>
      <element name="equalsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSuggestions">
    <complexType>
     <sequence>
      <element name="resultString" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSuggestionsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSuggestionsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="equalsRequest">

      <wsdl:part element="impl:equals" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSuggestionsResponse">

      <wsdl:part element="impl:getSuggestionsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSuggestionsRequest">

      <wsdl:part element="impl:getSuggestions" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="equalsResponse">

      <wsdl:part element="impl:equalsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ClientApp">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest"/>

         <wsdl:output message="impl:mainResponse" name="mainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="equals">

         <wsdl:input message="impl:equalsRequest" name="equalsRequest"/>

         <wsdl:output message="impl:equalsResponse" name="equalsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSuggestions">

         <wsdl:input message="impl:getSuggestionsRequest" name="getSuggestionsRequest"/>

         <wsdl:output message="impl:getSuggestionsResponse" name="getSuggestionsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClientAppSoapBinding" type="impl:ClientApp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="equals">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="equalsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="equalsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSuggestions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSuggestionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSuggestionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClientAppService">

      <wsdl:port binding="impl:ClientAppSoapBinding" name="ClientApp">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/ClientApp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
